In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import datetime
from tqdm import *
import numpy as np
from scipy import stats
df=pd.read_csv(r'C:\luyan\paper_code\data\hourly.csv')



dfon=df[df['con']>0]
dfon.head(5)

        day_id            id  temp_in      con
22  2016070211  0007A88A4D8D     25.8  3253900
23  2016070212  0007A88A4D8D     23.8  2020200
24  2016070213  0007A88A4D8D     25.3   935600
25  2016070214  0007A88A4D8D     25.5     6000
60  2016070411  0007A88A4D8D     27.3  1422700

In [2]:
def droplevel(df):
    df.columns=df.columns.droplevel(0)

def aggfeature(df,featurename):
    df_mean=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.mean])
    droplevel(df_mean)
    df_mean.reset_index(inplace=True)
    df_mean.columns=['id',featurename+'_mean']
    
    df_median=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.median])
    droplevel(df_median)
    df_median.reset_index(inplace=True)
    df_median.columns=['id',featurename+'_median']
    
    
    df_std=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.std])
    droplevel(df_std)
    df_std.reset_index(inplace=True)
    df_std.columns=['id',featurename+'_std']
    
    
    
    df_skew=pd.pivot_table(df,values=featurename,index='id',aggfunc=[stats.skew])
    droplevel(df_skew)
    df_skew.reset_index(inplace=True)
    df_skew.columns=['id',featurename+'_skew']
    
    df_kurt=pd.pivot_table(df,values=featurename,index='id',aggfunc=[stats.kurtosis])
    droplevel(df_kurt)
    df_kurt.reset_index(inplace=True)
    df_kurt.columns=['id',featurename+'_kurt']
    
    df_merge=pd.merge(df_mean,df_median,on='id')
    df_merge=pd.merge(df_merge,df_std,on='id')
    df_merge=pd.merge(df_merge,df_skew,on='id')
    df_merge=pd.merge(df_merge,df_kurt,on='id')
    
    return df_merge






df_temp_in_features=aggfeature(dfon,'temp_in')


#df_temp_in_features.to_csv(r'C:\luyan\paper_code\data\feature_data\temp_in.csv',index=False)
df_temp_in_features.head(5)

             id  temp_in_mean  temp_in_median  temp_in_std  temp_in_skew  temp_in_kurt
0  0007A88A4D8D     25.401774           25.20     1.592748      0.501816      1.016782
1  0007A88B9A54     25.750291           25.80     0.908977      0.055010     -0.079760
2  0007A88B9C97     25.382867           25.25     1.722183      0.481647      1.026540
3  0007A88BA9B4     28.949324           28.90     1.157789      0.052000      0.265493
4  0007A88BCE80     27.131365           27.00     1.368313      0.789849      1.022613