In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import datetime
from tqdm import *
import numpy as np
from scipy import stats

df=pd.read_csv(r'C:\luyan\paper_code\data\daily.csv')






    
df['set_point_num']=df.loc[:,'16':'30'].apply(lambda x: len(x[x>0]), axis=1)
df.head(5)

             id      date   16   17   18   19         20  ...        26   27   28   29   30  ac_type  set_point_num
0  0007A88A4D8D  20160728  0.0  0.0  0.0  0.0   0.000000  ...  0.000000  0.0  0.0  0.0  0.0      f_s              1
1  0007A88A4D8D  20160729  0.0  0.0  0.0  0.0   0.000000  ...  5.393542  0.0  0.0  0.0  0.0      f_s              2
2  0007A88A4D8D  20160730  0.0  0.0  0.0  0.0   7.301306  ...  0.000000  0.0  0.0  0.0  0.0      f_s              2
3  0007A88A4D8D  20160801  0.0  0.0  0.0  0.0  15.453603  ...  0.000000  0.0  0.0  0.0  0.0      f_s              2
4  0007A88A4D8D  20160802  0.0  0.0  0.0  0.0   0.000000  ...  0.000000  0.0  0.0  0.0  0.0      f_s              2

[5 rows x 19 columns]

In [2]:
def droplevel(df):
    df.columns=df.columns.droplevel(0)

def aggfeature(df,featurename):
    df_mean=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.mean])
    droplevel(df_mean)
    df_mean.reset_index(inplace=True)
    df_mean.columns=['id',featurename+'_mean']
    
    df_median=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.median])
    droplevel(df_median)
    df_median.reset_index(inplace=True)
    df_median.columns=['id',featurename+'_median']
    
    
    df_std=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.std])
    droplevel(df_std)
    df_std.reset_index(inplace=True)
    df_std.columns=['id',featurename+'_std']
    
    
    
    df_skew=pd.pivot_table(df,values=featurename,index='id',aggfunc=[stats.skew])
    droplevel(df_skew)
    df_skew.reset_index(inplace=True)
    df_skew.columns=['id',featurename+'_skew']
    
    df_kurt=pd.pivot_table(df,values=featurename,index='id',aggfunc=[stats.kurtosis])
    droplevel(df_kurt)
    df_kurt.reset_index(inplace=True)
    df_kurt.columns=['id',featurename+'_kurt']
    
    df_merge=pd.merge(df_mean,df_median,on='id')
    df_merge=pd.merge(df_merge,df_std,on='id')
    df_merge=pd.merge(df_merge,df_skew,on='id')
    df_merge=pd.merge(df_merge,df_kurt,on='id')
    
    return df_merge




df_setpoint_num_features=aggfeature(df,'set_point_num')
df_setpoint_num_features

#df_setpoint_num_features.to_csv(r'C:\luyan\paper_code\data\feature_data\setpoint_num.csv',index=False)


df_setpoint_num_features.head(5)

             id  set_point_num_mean  set_point_num_median  set_point_num_std  set_point_num_skew  set_point_num_kurt
0  0007A88A4D8D            2.024390                   2.0           0.724148            0.764151            1.082201
1  0007A88B9A54            1.347826                   1.0           0.525670            1.096471            0.105140
2  0007A88B9C97            1.218750                   1.0           0.659148            3.184473            9.473474
3  0007A88BA9B4            1.937500                   2.0           0.853913            0.116629           -1.527837
4  0007A88BCE80            1.756098                   2.0           0.734183            0.791228            0.547987