In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import datetime
from tqdm import *

df=pd.read_csv(r'C:\luyan\paper_code\data\hourly.csv')


df['hour']=df['day_id'].astype(str).str[8:10].astype(int)
df.head(5)

       day_id            id  temp_in  con  hour
0  2016070107  0007A88A4D8D     24.7    0     7
1  2016070108  0007A88A4D8D     25.4    0     8
2  2016070109  0007A88A4D8D     25.5    0     9
3  2016070110  0007A88A4D8D     25.0    0    10
4  2016070111  0007A88A4D8D     26.0    0    11

In [2]:
df_24_per=pd.DataFrame()


for nameid,dfi in tqdm(df.groupby('id')):
    dfion=dfi[dfi['con']>0]

    list_i_24per=[]
    list_hour=[]
    df_i_24_per=pd.DataFrame()
    for hour_i in range(0,24):
        i_24_per=len(dfion[dfion['hour']==hour_i])/len(dfion)
        list_i_24per.append(i_24_per)
        list_hour.append(hour_i)
    df_i_24_per['hour']=list_hour
    df_i_24_per['per']=list_i_24per
    df_i_24_per['id']=nameid
    df_24_per=pd.concat([df_24_per,df_i_24_per])
    


df_24_per['hour']=df_24_per['hour'].astype(str)

df_24_per_24d=pd.pivot_table(data=df_24_per,columns='hour',index='id')

df_24_per_24d.columns=df_24_per_24d.columns.droplevel(0)

df_24_per_24d=df_24_per_24d[['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23']]

df_24_per_24d.head(5)

#df_24_per_24d.to_csv(r'C:\luyan\paper_code\data\24hour_percentage.csv')

100%|██████████████████████████████████████████████████████████████████████████████| 1289/1289 [00:18<00:00, 70.47it/s]

hour                 0         1         2         3         4  ...        19        20        21        22        23
id                                                              ...
0007A88A4D8D  0.058065  0.051613  0.059677  0.040323  0.041935  ...  0.024194  0.029032  0.040323  0.051613  0.056452
0007A88B9A54  0.058140  0.037791  0.029070  0.020349  0.023256  ...  0.072674  0.087209  0.098837  0.104651  0.104651
0007A88B9C97  0.059441  0.052448  0.055944  0.052448  0.055944  ...  0.038462  0.073427  0.080420  0.097902  0.090909
0007A88BA9B4  0.067568  0.060811  0.054054  0.033784  0.027027  ...  0.000000  0.033784  0.033784  0.047297  0.060811
0007A88BCE80  0.071283  0.069246  0.071283  0.052953  0.046843  ...  0.046843  0.046843  0.059063  0.071283  0.069246

[5 rows x 24 columns]